{% extends 'accounts/base.html' %}

{% block main %}
    <form method="GET" action="{% url 'accounts:user_search' %}" class="user-search-form">
        <h5 class="text-center">ユーザー検索</h5>
        <div class="input-group">
            <input
                type="text"
                name="query"
                class="form-control form-control-lg"
                placeholder="ユーザー名を入力" 
                value="{{ query|default_if_none:'' }}"
            >
            <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
            </button>
        </div>
    </form>

    {% if query %}
        {% if users %}
            <h4 class="mt-2">検索結果</h4>
            <div class="user-items">
                {% for user in users %}
                    <div class="user-item">
                        <a href="{% url 'accounts:profile' user.pk %}" class="user-item-link">
                            <div class="avatar">
                                <img src="{{ user.get_avatar }}&s=48" alt="{{ user.username }}" class="profile-image">
                            </div>
                            <span class="username-link">
                                <div class="username">{{ user.username }}</div>
                            </span>
                        </a>
                        {% if request.user.is_authenticated %}
                        <div class="item-end">
                            <a href="{% url 'askbox:ask_to' user.pk %}" class="btn btn-primary btn-sm">質問を送る</a>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="my-5 text-center text-muted">ユーザーが見つかりませんでした</p>
        {% endif %}
    {% endif %}
{% endblock %}
