{% extends 'accounts/settings/base.html' %}

{% block title %}プロフィール設定{% endblock title %}

{% block main %}
    <div class="settings-box">
        <h3 class="text-center mb-4">
            プロフィール設定
        </h3>

        <div class="rounded-box mb-3">
            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="id_username" class="form-label">ユーザー名</label>
                    <input type="text" id="id_username" name="username" class="form-control form-control-readonly" value="{{ user.username }}" readonly>
                    <div class="form-text">ユーザー名は変更できません</div>
                </div>

                {{ form.as_controls }}
                <button type="submit" class="btn btn-primary mt-3">保存</button>
            </form>
        </div>

        <div class="d-flex justify-content-end my-3">
            <a href="{% url 'accounts:profile' user.pk %}" class="btn btn-outline-primary d-flex align-items-center gap-1">
                プロフィールページに移動
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
            </a>
        </div>

        <p class="text-end mb-0">登録日: {{ user.date_joined|date:'Y/m/d H:i' }}</p>
    </div>
{% endblock %}
