{% extends 'accounts/base.html' %}

{% block layout_body_class %}widescreen-nav-hidden{% endblock %}

{% block title %}パスワードをリセット{% endblock %}

{% block main %}
<div class="login-box mt-2">
    <ul class="nav nav-underline mb-4">
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signup' %}">アカウントを作成</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <span class="nav-link active" aria-current="page">リセット</span>
        </li>
    </ul>

    <h3 class="mb-3">パスワードをリセット</h3>

    <div class="form-signin m-auto">
        <p class="text-wrap text-sm">
            パスワードをリセットするためのリンクを送信します。メールアドレスを入力してください。
        </p>

        <form method="POST">
            {% csrf_token %}
            
            {{ form.as_floating }}

            <div class="mt-3">
                <button class="btn btn-primary py-2" type="submit">パスワードのリセットリンクを送信</button>
            </div>
        </form>
      </div>

</div>
{% endblock %}
